[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "vim/bundle/vim-lua-ftplugin"]
	path = vim/bundle/vim-lua-ftplugin
	url = https://github.com/xolox/vim-lua-ftplugin.git
[submodule "vim/bundle/vim-lua-inspect"]
	path = vim/bundle/vim-lua-inspect
	url = https://github.com/xolox/vim-lua-inspect.git
[submodule "vim/bundle/vim-gradle"]
	path = vim/bundle/vim-gradle
	url = https://github.com/tfnico/vim-gradle.git
